*{
    margin: 0;
    padding: 0;

}


body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
}

.te{
    font-size: 30px;
    text-align: center;
    color: rgb(219, 74, 207);
    margin: 20px;
    padding: 7px;
}

.imi{
    height: 80px;
    width: 80px;
    margin: 20px;
    position: relative;
    left: 150px;
}

#contenedor{
    background-color: #789AFF;
    height: 700px;
    width: 700px;
    position: relative;
    left: 250px;
    box-shadow: gray ;
}









@media screen and (max-width: 800px){
    .imi{
        position: relative;
        left: 50px;
    }   
    #contenedor{
        height: 800px;
        width: 497px;
        position: relative;
        left: 10px;
    }


}


