*{
    margin: 0;
    padding: 0;

    }

    body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
    }

    .imi{
        height: 150px;
        width: 150px;
        left: 250px;
        position: relative;
        margin: 20px;
        padding: 10px;
    }

    #pst{
        font-size: 30px;
        color:rgb(250, 0, 0);
        text-align: center;
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        margin: 50px;
        padding: 30px;
        border-radius: 70px;
    }

    #titul{
        font-size: 50px; 
        text-align: center; 
        text-decoration: overline;
        color: #ee8711;
    }

    @media screen and (max-width: 800px) {
        #pst{
            padding: 50px;
        }
        .imi{
            height: 150px;
            width: 150px;
            margin: 20px;
            padding: 13px;
            display: block;
        }
      }
