*{
    margin: 0;
    padding: 0;

}


body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
}

h1{
    color:indigo;
    font-size: 70px;
    text-align: center;
    margin: 10px;
}

p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:darkgreen;
    padding: 5px;
}

#cajami{
    background-color: aquamarine;
    margin-left: 200px;
    margin-right: 200px;
    height: 1000px;
    width:auto;
}

.imgs{
    position: relative;
    top: -200px;
    left: 70px;
    padding: 10px;


}

.imgb{
    margin: 50px;
    width: 100px;

}





