*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: teal;
}

h2{
    text-align: center;

}




h1{
    color: rgb(26, 235, 165);
    font-size: 70px;
    text-align: center;
}

#imgpro{
    position:relative;
    top: 0;
    bottom: 600px;
    left: 0;
    right: 0;

}

.coding{
    font-size: 40px;
}


.red{ 
    margin: 5px;
    width: 40px;
    position: relative;
    top: -20px;
    left: 1000px;
}

#redes{
    height: 70px;
    width: 100%;
    background-color: turquoise;
}


#ubi{
    position: relative;
    left: 50px;
    top: 20px;
    font-size: 27px;
}


.menut{
    text-decoration: none;
    color: rgb(95, 177, 224);
    padding: 20px;
    font-size: 20px;
    margin: 50px;
    position: relative;
    top: 13px;
    border: rgb(0, 252, 42);
}

#menu{
    background-color: blueviolet;
    height: 60px;
    width: 100%;
    margin: 5px;
    position: fixed;
    opacity: 70%;
    border: 1px solid #555;
    overflow: auto;
    border-radius: 35px;
}
